@import 'swiper/css';


/* ---- fonts ---- */
@font-face {
    font-family: "TT Lakes-demi";
    src: url(../assets/fonts/TTLakes/TTLakes-DemiBold.woff);
}

@font-face {
    font-family: "TT Lakes-light";
    src: url(../assets/fonts/TTLakes/TTLakes-Light.woff);
}

@font-face {
    font-family: "TT Lakes-medium";
    src: url(../assets/fonts/TTLakes/TTLakes-Medium.woff);
}

@font-face {
    font-family: "TT Lakes-regular";
    src: url(../assets/fonts/TTLakes/TTLakes-Regular.woff);
}

        /* ----Standarts---- */

:root {
    --main-background: #F8F8F8;
    --carousel-background: #FFFFFF;
    --baclground-icons: #FF3E79;
    --black-text: #000000;
    --carousel-text: #B8FFEC;
    --main_items: #1B1C21;
    --second-text: #7E7E82;
    --second-line: #41F6D7;
    --actions__divided: #EAEAEA;
    --back-main: #D9FFF5;
    --swiper-dots:#B5B6BC;
}

        /* ----Standarts---- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

ul {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--main_items);
}


li {
    list-style: none;
}

.container {
    max-width: 1121px;
    justify-content: center;
    align-items: center;
    background:var(--main-background);
    padding: 15px 0 15px 30px;
}

.header {
    height: 56px;
    background: linear-gradient(170deg, #F8F8F8 0%, #FFF 98.61%);
}

.header h2 {
    color: var(--second-text);
    font-family: "TT Lakes-regular",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

.services {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}

footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

footer p {
    color: var(--main_items);
    font-family: "TT Lakes-regular",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

    /* ---- switch read ---- */
.read a {
    display: flex;
    align-self: center;
}

.read {
    display: none;
}

.read:nth-child(2) {
    display: block;
}

.read a img {
    margin-right: 5px;
}

#returnButton {
    display: none;
}

#hiddenBlocks {
    display: flex;
}

    /* ---- Swiper ---- */

.swiper {
    display: none;
    height: 100px;
    width: 300px;
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color, #B5B6BC);
}

.swiper-slide {
    flex-shrink: 0;
    position: relative;
}

.card {
    display: flex;
}



@media (min-width:320px) and (max-width: 768px) {

    .container {
        /* background: var(--second-text); */
        max-width: 768px;
        height: 180px;
    }

    .header {
        max-width: 768px;
        height: 80px;
    }
    
    .swiper-slide-next {
        margin-left: -40px;
    }

    .swiper {
        position: relative;
        margin-top: 10px;
        display: flex;
        height: 100px;
        width: 330px;
    }

    .swiper::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 24px;
        height: 71px;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
        z-index: 3;
    }

    .swiper-backface-hidden .swiper-slide  {
        position: relative;
    }

    .swiper-slide-next  {
        position: relative;
    }

    .services {
        display: none;
    }

    footer {
        display: none;
    }


}
